<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    </head>
 <nav class="navbar navbar-expand-lg" style="background-color: green; color: white;">
 <h1>PLAN VACACIONAL</h1>
 <div class="container-fluid">
  <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('registro') }}">Registro Trabajador</a></li>
      <li class="nav-item"><a class="nav-item" href="{{ url_for('listado') }}">Listado General</a></li>
      <li class="nav-item"><a class="nav-item" href="#">Log In</a></li>
  </ul>
</div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</section>
