{% include '_header.html' %}


{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
             <form method="POST" id="formRegister">
                <class class="card">
                    <div class="form-group">
                    <label for="username">Usuario:</label>
                    <input type="text" name="username" class="form-control" placeholder="Usuario" autofocus>
                    </div>
            
                    <div class="form-group">
                    <label for="password">Password:</label>    
                    <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                
                <input type="submit" value="submit" class="btn btn-primary">
                </class>
             </form>    
        </div>
    </div>
</div>

{% endblock %}